@import "tailwindcss";

:root {
    --background: #0b0b0f;
    --foreground: #f5f5fa;
    --secondary: #f9f4f4
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-secondary: var(--secondary);
    --font-outfit: var(--font-outfit);

    --size-hero-avatar: 50px;
    --container-8xl: 92rem;
}

@utility container {
        width: 100%;
        margin: 0 auto;
        max-width: 1200px;
        padding-left: 16px;
        padding-right: 16px;

        @variant md {
            padding-left: 24px;
            padding-right: 24px;
        }

        @variant lg {
            padding-left: 32px;
            padding-right: 32px;
        }
        @variant xl {
            padding-left: 0;
            padding-right: 0;
        }
}

@utility fade-up {
    opacity: 0;
}
@utility fade-in {
    opacity: 0;
}

@utility custom-gradient{
    background: radial-gradient(41% 95% at 50% 99.9%, rgb(35, 35, 45) 0%, rgb(11, 11, 12) 100%);
    box-shadow: rgb(36, 36, 46) 0 5px 40px 0 inset, rgba(69, 69, 97, 0) 0 0 60px 2px, rgba(80, 80, 112, 0) 0 0 160px 0;
}
@utility secondary-gradient{
        background: radial-gradient(41% 94.9346% at 50% 100%, rgb(78, 78, 117) 0%, rgb(40, 40, 61) 100%);
    }
@utility brand-gradient{
    background: radial-gradient(41% 94.93% at 50% 100%, #232D26 0%, #232D26 100%);
}
@utility benefit-gradient{
    background: radial-gradient(41% 95% at 50% 99.9%, #232D26 0%, #0B0B0C 100%);
}
@utility pricing-bg{
    background: radial-gradient(41% 95% at 50% 99.9%, #232D26 0%, #0B0B0C 100%);
}
@utility card-style{
        @apply p-5 border border-white/25 rounded-md benefit-gradient;
}
@utility mobile-nav-bg{
    background: linear-gradient(rgba(11, 11, 15, 0.8) 32.4324%, rgba(11, 11, 15, 0) 100%) rgba(0, 0, 0, 0);
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --background: #0a0a0a;*/
/*    --foreground: #ededed;*/
/*  }*/
/*}*/

body {
    font-size: 16px;
    line-height: 130%;
    background: var(--background);
    color: var(--foreground);
    font-family: var(--font-outfit), sans-serif;
}

p{
    @apply normal-case leading-[130%];
}
.heading-style-1{
    @apply text-[38px] lg:text-[48px] xl:text-[56px] leading-[132%] lg:leading-[110%];
}
.heading-style-2{
    @apply text-xl lg:text-[32px] leading-[110%];
}
.hero-description{
    @apply text-secondary max-w-[300px] md:max-w-[600px] lg:max-w-[520px] xl:max-w-3xl opacity-80 lg:text-xl;
}
.hero-description.short{
    @apply max-w-[617px]
}
.section-heading{
    @apply text-[30px] lg:text-[36px] xl:text-[46px] leading-[110%];
}

.hero-avatar{
    @apply h-[50px] w-[50px];
}

.section-v-space{
    @apply pt-[100px] lg:pt-40;
}


.button-shadow:hover{
    animation: pulse-shadow 2s infinite reverse ease-in-out;
}

@keyframes pulse-shadow {
    0% {
        box-shadow: rgba(255, 255, 255, 0.1) 0 1px 24px 0;
    }
    50% {
        box-shadow: rgba(255, 255, 255, 0.6) 0 1px 24px 0;
    }
    100% {
        box-shadow: rgba(255, 255, 255, 0.2) 0 1px 24px 0;
    }
}
